#hero .hero-text .title {
    margin: 0 0 20px 0;
    font-size: 42px;
    color: #ffffff;
}

.custom-list{
    display: inline-block;
    text-align: left;
    list-style: none;
    float: left;
    line-height: 25px;
    padding: 0;
    margin: 0;
}
.title{

}
.fa {
    color: #d35400;
}

.form-header {
    padding: 30px 20px;
    width: 85%;
    float: right;
    text-align: center;
    background: rgba(30, 30, 30, 0.75);
}
#header-form > .form-group-sm{
    margin-bottom: 10px;
}
.navbar-brand >img{
    width: 27px;
    display: inline-block;
    float: left;
    padding-right: 3px;
}
#features .feature {
    position: relative;
    margin-bottom: 40px;
}
#features .feature .feature-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 60px;
}
#features .feature .feature-content {
    padding-left: 95px;
}
#features {
    position: relative;
    padding: 80px 0 40px 0;
    background: #f5f5f5;
}
.preamble {
    text-align: center;
    margin-bottom: 80px;
}
.stop,
.ok {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 200px;
    display: none;
}
.title-about{
    font-weight: bold;
    text-align: center;
}
.icon-check {
    margin: 28px 17px;
    float: left;
    color: #636262;
}
#btn_service,
#btn_about{
    width: 100%;
    text-align: center;
}
.about-desc{
    overflow: hidden;
    font-size: 0.95em;
}
#faq {
    position: relative;
    padding: 80px 0 40px 0;
    background: #f5f5f5;
}
#faq .question {
    margin-bottom: 40px;
}
#faq .question .title {
    margin-top: 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #4C4C4C;
    margin-left: 6px;
}
.footer {
    width: 100%;
    height: 70px;
    background: #74787E;
    text-align: center;
    padding-top: 10px;
    color: #f5f8fa;
}
#btn_service {

}
.feedback {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 35px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    color: #1D1D1D;
    background: #fbfbfb;
    /*border: 1px solid #000;*/
    /*border-radius: 10px;*/
    padding: 10px 20px;
}
.feedback > span {
    text-transform: uppercase;
    /*text-align: center;*/
}
.form-feedback {
    margin-top: 15px;
}
#btn_feedback {
    width: 100%;
    border-radius: 0px;
}
.feedback-text {
    display: inline-block;
    margin-top: 5px;
    color: #4ea01c;
}
.left-footer {
    display: inline-block;
    width: 250px;
    height: 20px;
    float: left;
}
.footer-logo {
    display: inline-block;
    width: 84px;
    margin: 0 auto;
}
.right-footer{
    display: inline-block;
    float: right;
    width: 250px;
    height: 30px;
    font-size: 0.9em;
    margin-right: 10px;
}
#contact {
    background: #f5f5f5;
}
.my_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.logo-facebook {
    background: url(/img/facebook.jpg);
}
.logo-instagram {
    background: url(/img/i.jpg);
    margin-left: 5px;
}

/*===============knopka=========================*/
#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(/img/email_icoon.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


/*===============knopka=========================*/