.stop,
.ok {
    position: fixed;
    top: 60px;
    right: 15px;
    width: 200px;
    display: none;
}

.block-img{
    font-size: 1.2em;
    font-weight: bold;
}
.block-img > img{
    margin-bottom: 50px;
}
.btn-create{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
.img-service{
    max-width: 100px;
}
.badge-question {
    color: #fff;
    background: #880000;
}